
<footer class="bg-dark text-white">
  <div class="container">
    <div class="content" style="padding: 20px;">
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0" style="text-align: center;">
          <img src="../../assets/img/logo.jpg" alt="" style="border-radius: 200px; width: 150px; height: 150px; ">
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h3>Contacto</h3>
          <p>P Sherman, Calle Wallaby 42, Sindey</p>
          <p>Teléfono: +569 12345678</p>
          <p>audion@musicneversleeps.cl</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h3>Síguenos</h3>
          <a href="https://twitter.cl/"><p><i class="bi bi-twitter"></i> Twitter</p></a>
          <a href="https://facebook.com/"><p><i class="bi bi bi-facebook"></i> Facebook</p></a>
          <a href="https://youtube.cl/"><p><i class="bi bi-youtube"></i> Youtube</p></a>
          <a href="https://www.instagram.com/"><p><i class="bi bi-instagram"></i> Instagram</p></a>
        </div>
      </div>
    </div>
  </div>
</footer>

