.pais-select{
    margin-bottom: 20px;
}

.datos-envio{
    margin-top: 10px; 
    margin-bottom: 10px; 
    padding: 10px;
}

.datos-cliente{
    /* background: rgb(190, 190, 190); */
    background: rgb(204, 204, 185);
}

.carrito-box{
    margin-top: 10px; 
    margin-bottom: 10px; 
    padding: 10px;
}

.cantidad-carrito{
    align-self: center; 
    font-weight: bold; 
    font-size: larger;
}

.img-carrito{
    width: 100px; 
    height: 100px;
    margin-bottom: 10px;
}


.sub-total{
    place-self: center;
    font-weight: bolder;
}

.product-list{
    overflow-y: auto; 
    height:700px ; 
    background: rgb(204, 204, 185);
    border-style: outset;
}


input[type=text] {
    background-color: #ffffff;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    color: #000000;
}

.btn-outline-primary {
    border-color: #31383a;
    color: #000000;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.errorText{
    color: red;
}

.errorInput{
    border-color: red;
    box-shadow: 0 0 6px red; 
}